/* ================= style.css ================= */
:root {
  --red: #e10600;
  --dark: #0b0b0b;
  --gray: #1a1a1a;
  --light: #f5f5f5;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: var(--dark);
  color: var(--light);
}

.hero {
  height: 60vh;
  background: url('https://media.formula1.com/image/upload/f_auto/q_auto/v1765793003/fom-website/2026%20regulations/2026_Explainer_FIA_Front_3_4_1920x1080.jpg') center/cover no-repeat;
  position: relative;
}

.hero .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 4px;
  margin: 0;
}

.hero p {
  font-size: 1.2rem;
  opacity: 0.9;
}

.topnav {
  background: #111;
  padding: 15px;
  position: relative;
}

/* PC layout */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

/* Hamburger */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 20px;
  top: 12px;
}

/* Mobil */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #111;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}



.container {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.card {
  background: linear-gradient(180deg, #111, #070707);
  border-left: 5px solid var(--red);
  padding: 30px;
}

.card h2 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.winners {
  list-style: none;
  padding: 0;
}

.winners li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #222;
}

footer {
  text-align: center;
  padding: 30px;
  background: #050505;
  font-size: 0.9rem;
  opacity: 0.8;
}

.slider {
  height: 300px;
  overflow: hidden;
}


.slider img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-left: 5px solid var(--red);
}


.calendar {
  list-style: none;
  padding: 0;
}


.calendar li {
  padding: 15px 20px;
  margin-bottom: 10px;
  font-weight: bold;
}


.calendar li.done {
  background: linear-gradient(90deg, #064e3b, #022c22);
  border-left: 6px solid #22c55e;
}


.calendar li.pending {
  background: linear-gradient(90deg, #7f1d1d, #450a0a);
  border-left: 6px solid #ef4444;
}
